<!DOCTYPE html>
<html lang="en">

<body>
    <div class="dropdown nav-drop drop">
        <button onclick="showItems()" class="dropbtn">
            <div class="drop-btn-text">
                <div>Academics</div>
                <div>&bigtriangledown;</div>
            </div>
        </button>
        <div id="dropdown" class="dropdown-content">
            <a href="profile.php">View Profile</a>
            <hr>
            <a href="editProfile.php">Edit Profile</a>
            <hr>
            <a href="setting.php">Change Password</a>
            <hr>
            <a href="studentInfo.php?exam">Exam</a>
            <hr>
            <a href="studentInfo.php?meeting">Meeting</a>
            <hr>
            <a href="studentInfo.php?payment">Payment</a>
            <hr>
            <a href="studentInfo.php?Mail">Mail</a>
            <hr>
            <a href="studentInfo.php?Course_Teacher_List"> Course and Result</a>
            <hr>
            <a href="studentInfo.php?FinancialStatement"> Financials</a>
            <hr>
        </div>
    </div>
    <script src="../javascript/style.js"></script>
</body>

</html>