<!DOCTYPE html>
<html lang="en">
<body>
    <div class="dropdown nav-drop drop">
        <button onclick="showItems()" class="dropbtn">
            <div class="drop-btn-text">
                <div>Academics</div>
                <div>&bigtriangledown;</div>
            </div>
        </button>
        <div id="dropdown" class="dropdown-content">
             <a href="../views/faculty_views/addStudent.php">Add Student</a><hr> 
            <!-- <a href="facultyinfo.php?addStudent">Add Student</a><hr> -->
            <a href="facultyinfo.php?deleteStudent">Delete Student</a><hr>
            <a href="facultyinfo.php?studentList">Student List</a><hr>
            <a href="facultyinfo.php?studentgroup">Student Group</a><hr>
            <a href="facultyinfo.php?manageTest">Manage Test</a><hr>
            <a href="facultyinfo.php?addMark">Add Mark</a><hr>
            <a href="facultyinfo.php?checkPaper">Check Papers</a><hr>
            <a href="facultyinfo.php?makeCall">Make a Call</a><hr>
            <a href="facultyinfo.php?chatBox">Message</a><hr>
        </div>
    </div>
    <script src="../javascript/functionality.js"></script>
</body>
</html>